<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Biografia - Anna Bella</title>
  </head>
  <body>
    <header>
      <img src="../assets/imagens/capa.png" alt="" />
    </header>
    <div class="box">
      <nav>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="./biografia.html">Biografia</a></li>
          <li><a href="./campanhas.html">Campanhas Publicitarias</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>
    <!--caixa-->
    <main>
      <section class="container">
        <h1>Biografia</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ab
          repudiandae sapiente, numquam voluptates saepe esse iusto! Pariatur
          eius explicabo harum eveniet cumque architecto error dicta quo rem,
          libero inventore?Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Asperiores repellendus neque sapiente vitae eveniet, dolore odit
          ea provident ex ab blanditiis, quam nobis est eius. Quod, dolor
          veniam! Aliquam, a?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          mollitia? Ratione reiciendis voluptas perferendis doloribus sunt.
          Distinctio aperiam corrupti iusto magnam et iure, accusamus earum
          voluptatem, assumenda id, illo unde?Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Provident eveniet quia molestiae
          doloremque maxime, minus eaque optio temporibus, reprehenderit quidem
          vel nam ipsum tempore suscipit alias aperiam fugiat repellat officiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et deleniti
          impedit nam, eum explicabo sit provident tempore saepe blanditiis,
          corrupti soluta repudiandae, veritatis corporis. Cumque nam eveniet
          nobis! Labore, accusamus?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Praesentium sed mollitia non tempora obcaecati
          quidem, culpa ipsum explicabo exercitationem nostrum atque hic
          distinctio ut itaque ipsa totam, unde eum harum.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis
          numquam ipsa molestias a deleniti suscipit alias iure incidunt, atque
          soluta velit quia non ipsum minima odit eveniet perferendis possimus.
        </p>
      </section>
    </main>
    <footer>
      <p>Todos os direitos reservados&copy;</p>
    </footer>
  </body>
</html>
