<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Contato - Anna Bella</title>
  </head>
  <body>
    <header>
      <img src="../assets/imagens/capa.png" alt="" />
    </header>
    <div class="box">
      <nav>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="./biografia.html">Biografia</a></li>
          <li><a href="./campanhas.html">Campanhas Publicitarias</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>
    <!--caixa-->
    <main>
      <section class="container">
        <h1>Contato</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ab
          repudiandae sapiente, numquam voluptates saepe esse iusto! Pariatur
          eius explicabo harum eveniet cumque architecto error dicta quo rem,
          libero inventore?
        </p>
        <img src="../assets/imagens/foto2.png" alt="" />
        <p>
          <strong>email:</strong> contato@annabella.com.br <br />
          <strong>telefone:</strong>(11) 9978-6589
        </p>
      </section>
    </main>
    <footer>
      <p>Todos os direitos reservados&copy;</p>
    </footer>
  </body>
</html>
