<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Home - Anna Bella</title>
  </head>
  <body>
    <header>
      <img src="../assets/imagens/capa.png" alt="" />
    </header>
    <div class="box">
      <nav>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="./biografia.html">Biografia</a></li>
          <li><a href="./campanhas.html">Campanhas Publicitarias</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>
    <!--caixa-->
    <main>
      <section class="container">
        <h1>Sobre a Anna Belle</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ab
          repudiandae sapiente, numquam voluptates saepe esse iusto! Pariatur
          eius explicabo harum eveniet cumque architecto error dicta quo rem,
          libero inventore? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Obcaecati facere mollitia tempore repudiandae exercitationem
          nisi ut repellendus molestias minima tempora aperiam culpa, ex
          perferendis praesentium ducimus? Vel, maiores. Illo, temporibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          mollitia? Ratione reiciendis voluptas perferendis doloribus sunt.
          Distinctio aperiam corrupti iusto magnam et iure, accusamus earum
          voluptatem, assumenda id, illo unde?Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Non iusto possimus commodi, quasi a
          rerum voluptates libero, quod aspernatur voluptatem nihil ipsa soluta
          beatae itaque magni officia, omnis delectus ratione.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et deleniti
          impedit nam, eum explicabo sit provident tempore saepe blanditiis,
          corrupti soluta repudiandae, veritatis corporis. Cumque nam eveniet
          nobis! Labore, accusamus?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Corrupti, facilis delectus sunt mollitia nam, nisi
          velit a necessitatibus vero tenetur animi id eaque at facere dolorem
          adipisci harum reprehenderit numquam.
        </p>
      </section>
      <!--Container-->
    </main>
    <footer>
      <p>Todos os direitos reservados&copy;</p>
    </footer>
  </body>
</html>
